In [15]:
fname=input ('isikan nama awal')
mname= input ('isikan nama tengah')
lname= input ('isikan nama akhir')
    
print ('selamat datang',fname,mname,lname)

isikan nama awalGilang
isikan nama tengahRayhan
isikan nama akhirdika
selamat datang Gilang Rayhan dika

In [10]:
bil1 = input('isikan bilangan 1 : ')
bil2 = input('isikan bilangan 2 :')
print(type(bil1))
hasil = int(bil1) + int(bil2)

print ('hasil penjumlahan',hasil)

isikan bilangan 1 : 12
isikan bilangan 2 :23
<class 'str'>
hasil penjumlahan 35

In [2]:
#luas => p * l
#keliling => 2 * (p+l) 

p = input ('isikan panjang persegi')
l = input ('isikan lebar persegi')

luas= int(p) * int(1)
keliling= 2* (int(p)+ int(1))

print('luas persegi panjang',luas)
print('keliling persegi panjang',keliling)

isikan panjang persegi12
isikan lebar persegi5
luas persegi panjang 12
keliling persegi panjang 26

In [3]:
print ("januari","februari","maret","april",sep="-"*1)

januari-februari-maret-april

In [4]:
number1 = 7 
number2 = 10 

#hasil perkalian dari 7 dengan 10 adalah 70 
print ("perkalian{}dengan{}adalah{}".format(number1,number2,number1 *number2))

perkalian7dengan10adalah70

In [14]:
frist_name ="Gilang"
middle_name ="Rayhan"
last_name ="dika"
print ("urutan huruf {}{}{}".format (frist_name,middle_name,last_name))

urutan huruf GilangRayhandika

In [8]:
#sekarang tanggal 20 bulan maret tahun 2024
print ("sekarang tanggal {tanggal} bulan {bulan} dan {tahun})".
       format(tanggal =20,bulan ="maret",tahun = 2024))

sekarang tanggal 20 bulan maret dan 2024)

In [11]:
kampus = "Universitas Nusa Putra"
print ("huruf pertama adalah:",kampus [0])
print ("huruf terakhir adalah",kampus [-1])
print ("huruf range 0-10",kampus [0:11])
print (kampus[-5:])
print (kampus[12:])
#reverse string 
print(kampus[::-1])

huruf pertama adalah: U
huruf terakhir adalah a
huruf range 0-10 Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [13]:
#split => string -> list
kota= "cibadak cisolok palabuhanratu bandung yogyakarta solo wonogiri"
list_kota =kota.split()
print(list_kota) 
print(list_kota[0]) 
#join => list -> string
join_kota ="@".join(list_kota)
print(join_kota)

['cibadak', 'cisolok', 'palabuhanratu', 'bandung', 'yogyakarta', 'solo', 'wonogiri']
cibadak
cibadak@cisolok@palabuhanratu@bandung@yogyakarta@solo@wonogiri

In [8]:
#isikan nama anda : 
#isikan tanggal lahir :  
#output :
#nama awal : 
#nama akhir : 
#tgl lahir : 
#bulan lahir:
#tahun lahir:
#nama inisial:

nama = input ("isikan nama anda:")
tgl = input ("isikan tanggal lahir:")

list_nama = nama.split()
print("nama awal :" , list_nama[0])
print("nama akhir:" , list_nama[1])

list_tgl = tgl.split()
print("hari:", list_tgl[0])
print("bulan:", list_tgl[1])
print("tahun:", list_tgl[2])

inisial = list_nama[0][0] + list_nama[1][0]

print("Nama Inisial:", inisial)

isikan nama anda:GILANG RAYHANDIKA
isikan tanggal lahir:19 NOVEMBER 2004
nama awal : GILANG
nama akhir: RAYHANDIKA
hari: 19
bulan: NOVEMBER
tahun: 2004
Nama Inisial: GR